.App {
  background-color: #fefefe;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sidebar{
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
}
.Container {
  max-width:1200px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
  padding-top: 15px;
  margin-top: 15px;
}

.Popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.Popup-inner {
  max-width: 20rem;
  padding: 15px;
  background: #fff;
  position: relative;
}
.Popup-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.7);
  color: #fff;
}
.btn {
  cursor: pointer;
}

.CountryMap, #map{
  width: 100%;
  height: 100%;
}

.CountryTable{
  padding: 15px;
  border: 1px solid #000;
}